In [1]:
from IPython.core.display import display, HTML
display(HTML(
"""<style>
div.container { width:100% !important; }
div.CodeMirror {font-family: Consolas; font-size: 30pt;}
div.output { font-size: 20pt; font-weight: bold;}
div.input { font-family: Consolas; font-size: 30pt;}
div.prompt { min-width: 100px;}
</style>
"""))

C:\Users\soldesk\AppData\Local\Temp\ipykernel_1340\1014303460.py:1: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display, HTML

In [14]:
# 리터널 : 자연어 : 문자 , 숫자
# 숫자 리터널 : 정수리터널 : 10,1
#              실수리터널 : 10.6, 0.5
#              연산자 : +,-,*,/,%,//,**
# 문자열 리터널 : 'abc',"abc", '''abc''', """abc""", "10", a:변수
이숭무 = 10 # 변수인 이숭무
a = '이숭무' # 문자열 리터널인 이숭무
#              연산자 :  +:연결연산자, *:반복연산자
# 문자열 indexing, slicing
# 문자열 함수
a = 'Life is too short'
#    01234567890123456
#              1
a.count('s')# 문자열안에 's'가 몇개있는지 확인 
#문자 's'가 있는 index(위치)가 어디인지 확인
a.find('s')
#문자 'too'가 있는 index(위치)가 어디인지 확인
a.find('too') #'t'의 위치
#index 7번 이후부터의 's'의 위치
a.find('s',7)
#문자 'k'가 있는 index(위치)가 어디인지 확인
a.find('k') # 없는 문자인 경우 -1이 출력
# find와 같은 함수
a.index('s')
a.index('too')
a.index('s',7)
#a.index('k') # index 는 없는 문자인 경우 오류 발생
#영문자를 모두 소문자로
a.lower()
#영문자를 모두 대문자로
a.upper()

'LIFE IS TOO SHORT'

In [29]:
a = ' Life is too short '
# 양쪽 공백을 제거 할때 사용
a.strip()
a = 'abLife is too shortab'
a.strip('ab')
a.rstrip('ab')
a.lstrip('ab')
a = a.strip('ab')
a.replace("Life", "Your leg ")
a
a = "010-1234-1234"
#문자열이 모두 숫자인지 #####
a.isdigit()
a = "01012341234"
a.isdigit()
a = "abc def"
a.isalpha()
a = "ab cdef"
a.isalpha()
a.islower()
a.isupper()

True

In [39]:
# 문자열 다루기 : 1.포맷문자 , 2. fotmat함수 , 3. f문자
number = 10
day = "three"
'''나는 10개의 사과를 먹어서 three일 동안 아팠습니다.'''
a = '나는 %d개의 사과를 먹어서 %s일 동안 아팠습니다.' % (number,day )
a = '나는 %s개의 사과를 먹어서 %s일 동안 아팠습니다.' % (number,day )
a = '나는 {0}개의 사과를 먹어서 {1}일 동안 아팠습니다.'.format(number,day)
a = '나는 {0}개의 사과를 먹어서 {d}일 동안 아팠습니다.'.format(number,d='four')
a = f'나는 {number}개의 사과를 먹어서 {day}일 동안 아팠습니다.'
a

'나는 10개의 사과를 먹어서 three일 동안 아팠습니다.'

In [53]:
# 자료형 : 리터널 자료형 : 정수(10), 실수(10.6), 문자('a',"a") 
#          리스트 자료형 : [10] : 변수의 단점을 보안하기 위해서 
#                         여러개의 값을 저장한다.
# a : 변수 : 단점 => 하나의 값만 저장을 한다.
a = [] # 빈리스트
b = [1, 2, 3]  # 정수를 포함한 리스트
c = ['Life', 'is', 'too', 'short']  # 문자열을 포함한 리스트
d = [1, 2, 3, 'Life', 'is', 'too', 'short'] # 혼합 리스트
e = [1, 2, 3, 'Life', 'is', 'too', 'short', [1, 2, 3] ]  # 리스트를 포함한 혼합리스트
# 연산자
str1 = "Life is"
str2 = 'too short'
str1 + str2
str1 + ' ' + str2
"=="* 30

a = [1,2,3]
b = ['aaaa','bbbb','ccccc']
a + b
a * 3

# indexing , slicing
a = [1,2,3,4,5]
#    0 1 2 3 4
a[2]
a[2] = 10 # 리스트 안에 있는 요소의 값을 변경하는 경우에는 indexing을 이용한다.
a
a[2]
a[1:3]
c = ['Life', 'is', 'too', 'short'] 
## 'Life'를 "Your leg"로 변경
c[0] = 'Your leg'
c

['Your leg', 'is', 'too', 'short']

In [64]:
# 리스트 함수
### 리스트에 요소 추가 
l = ['Life', 'is'] #문자열을 가진 리스트
l
# 리스트 마지막에 요소 추가하기 ['Life', 'is', 'too']
l.append('too')
l
l.append('short')
l
# 원하는 위치에 요소 삽입하기
l = ['Life', 'short']  # ['Life', 'is', 'short']
#      0       1       :    0      1       2
l.insert(1, 'is') 
# ['Life', 'is', 'short']  # ['Life', 'is', 'too' , 'short']
#    0       1      2            0      1     2        3
l.insert(2,'too')
l
a =  [1,2,3] 
print(l)
print(a)
# ['Life', 'is', 'too', 'short', 1, 2, 3]
print(l + a) # 리스트 연결하기 : 원 데이터는 변경되지 않는다.
print(l)
# 리스트 확장
l.extend(a) 
l
l = ['Life', 'is', 'too', 'short']
print(l)
print(a) # [1, 2, 3]
# ['Life', 'is', 'too', 'short', 1, 2, 3]
#   0       1     2       3     4  5  6 
l.append(a) # ['Life', 'is', 'too', 'short', [1, 2, 3] ]
l           #    0      1      2      3         4

['Life', 'is', 'too', 'short']
[1, 2, 3]
['Life', 'is', 'too', 'short', 1, 2, 3]
['Life', 'is', 'too', 'short']
['Life', 'is', 'too', 'short']
[1, 2, 3]

['Life', 'is', 'too', 'short', [1, 2, 3]]

In [85]:
l = ['Life', 'is', 'too', 'short', 1, 2, 3]
#      0      1      2       3     4  5  6
# index를 이용해서 요소 삭제
l[4]
del l[4]
l # ['Life', 'is', 'too', 'short', 2, 3]
#      0       1     2       3     4  5
# slicing을 이용해서 요소 삭제
del l[4:4+2]
l  # ['Life', 'is', 'too', 'short']
#       0      1      2       3
del l[2:]
l
l = ['Life', 'is', 'too', 'short', 1, 2, 3,[1],'1']
# 요소의 값을 이용해서 요소 삭제
l.remove(1)
l
l.remove([1])
l
l.remove('1')
l
l.remove('is')
l
#리스트에서 값을 가지고 나오기  ['Life', 'too', 'short', 2, 3]
result = l.pop() 
result
l #  ['Life', 'too', 'short', 2] # 비 복원 추출
result = l.pop() 
result
l
# pop에 index를 사용해서 요소의 값을 추출
l = ['Life', 'is', 'too', 'short', 1, 2, 3,[1],'1']
#      0      1       2      3      4  5 6  7   8
l
print(len(l))
result = l.pop(2)
result
l # ['Life', 'is', 'short', 1, 2, 3, [1], '1']
#      0      1      2      3  4  5   6    7
print(len(l))
result = l.pop(2)
result
l
print(len(l))

9
8
7

In [90]:
# 정렬
a = [1, 4, 2, 3]
a
# 오름차순으로 정렬
a.sort()
a
# 내림차순으로 정렬
a.sort(reverse=True)
a # [4, 3, 2, 1]
a = [1, 4, 2, 3]
a
a.reverse()
a

[3, 2, 4, 1]

In [103]:
str3 = 'hobby'
str3.count('b')
print(str3.index('b'))
print(str3.index('b',3))
print(str3.find('b'))
# 같은 값의 갯수
a = [1, 4, 2, 5, 4, 3]
a.count(4)
print(a.index(4))
print(a.index(4, 2))
# print(a.find(4)) #리스트에는  find함수가 없다.

2
3
2
1
4

In [111]:
# 파이썬 자료형
# 정수형 자료형 : 10, 1
# 실수형 자료형 : 10.3
# 문자열형 자료형 : "1",'a',"""가""", '''abcd''' , a :변수
# 리스트 자료형 : []=>빈리스트, [1]=>정수 리스트, ['z']=>문자 리스트
# 튜플 자료형 : (), (1,), (1,2), (1,'z')
print(1) # 정수형 자료형
print('1') #문자열형 자료형
print([1]) # 리스트 자료형
a = [1+3, 4]
a
print([1+3])
print(a[0])
print((1+3)) # 최우선 연산자
print((1+3) * 4)
print((1+3,)) # 요소가 한개인 경우
print((2,3))

1
1
[1]
[4]
4
4
16
(4,)
(2, 3)

In [113]:
l = [] # 빈 리스트
t = () # 빈 튜플
t1 = (1,)
t2 = (1,2,3)
t3 =  (1,2,3,'a', 'b')  # 혼합형 튜플
l1 = [1,2,3,[4,5,6]] # 리스트를 포함하고 있는 리스트
t4 = (1,2,3,(4,5,6)) # 튜플을 포함하고 있는 튜플
t5 = (1,2,3,(4,5,6),[1,2,3], "이숭무")

In [119]:
# indexing, slicing을 할 수 있다.
t2 = (1,2,3,2)
#     0 1 2 3
print(t2[2])
print(t2[1:1+2])
print(t2[1]) # indexing을 하면 요소의 값을 가지고 온다
print(t2[1:1+1]) # slicing을 하면 튜플로 가지고 온다.
print(t2.index(2))
print(t2.index(2,2))

3
(2, 3)
2
(2,)
1
3

In [133]:
# 리스트와 튜플의 차이점
#     0 1 2 3
l =  [1,2,3,2]
t2 = (1,2,3,2)
l[2] = 10
l
# t2[2] = 10 요소를 변경 할 수 없다.
del l[2]
l
# del t2[2]
# 요소가 변경이 되어도 되는 경우에는 리스트를 사용하지만 
# 요소가 변경되어서는 안되는 경우에는 튜플을 사용한다.
str1 = "hello"
#문자열을 리스트로
l = list(str1)
l
# 리스트를 문자열로
str2 = "".join(l)
str2
str3 = "abd".join(l)
str3
# 문자열을 튜플로
t = tuple(str1)
t
str4 = "".join(t)
str4
l2 = list(t)
l2

['h', 'e', 'l', 'l', 'o']

In [140]:
t7 = (1, 2, 3, "a", "b", [1,2,3], (1,2,3))
#     0  1  2   3   4       5        6
#                         0 1 2    0 1 2
print(t7[1])
print(t7[3])
print(t7[5]) # 리스트
print(t7[6]) # 튜플
print(t7[5][1]) # 리스트에 있는 2출력
print(t7[5]) # [1, 2, 3]
print([1, 2, 3][1])
print("hello"[2])
print(t7[3:3+3])
print(t7[4:])

2
a
[1, 2, 3]
(1, 2, 3)
2
[1, 2, 3]
2
l
('a', 'b', [1, 2, 3])
('b', [1, 2, 3], (1, 2, 3))

In [143]:
t8 = 1, 2, 3, "a", "b", [1,2,3], (1,2,3), 3
t8
print(t8.index(3))
print(t8.count(3))

2
2

In [ ]:
# 파이썬 자료형
# 정수 자료형
# 실수 자료형
# 문자열 자료형
# 리스트 자료형
# 튜플 자료형
# 딕셔너리(사전) 자료형